@page "/"
@inject HttpClient Http

<PageTitle>Vinyl Shop</PageTitle>

@if (_albums == null) {
    <p>Loading albums...</p>
} else {
    <AlbumDetails Album="_selectedAlbum" />
    <div class="grid" >
        @foreach (var album in _albums) {
            <AlbumCard Album="album"  OnSelected="HandleAlbumSelected"/>
        }
    </div>
}

@code {
    private IEnumerable<Album>? _albums;
    private Album? _selectedAlbum;

    protected override async Task OnInitializedAsync() {
        try {
            _albums = await Http.GetFromJsonAsync<IEnumerable<Album>>("albums/album-data.json");
        }
        catch (HttpRequestException ex) {
            Console.WriteLine($"There was a problem loading album data: {ex.Message}");
        }
    }

    private void HandleAlbumSelected(Album album) => _selectedAlbum = album;
}
